.mat-stroked-button, .mat-flat-button, .mat-raised-button {
    outline-style: none;
    &:focus, &:active:focus {
        outline-style: dotted;
        outline-width: 3px;
        outline-color: rgb(117, 42, 42);
    }
}

.dark-theme {
  .mat-stroked-button, .mat-flat-button, .mat-raised-button {
    outline-style: none;
    &:focus, &:active:focus {
        outline-style: dotted;
        outline-width: 3px;
        outline-color: rgb(214, 147, 147);
    }
    &[color='primary'] {
      color: rgb(255, 241, 224) !important;
    }
    &[color='accent'] {
    color: rgb(221, 255, 198) !important;
    }
    &[color='warn'] {
    color: rgb(255, 227, 227) !important;
    }
  }
}
