// https://codepen.io/devstreak/pen/dMYgeO
::-webkit-scrollbar-track
{
  border-radius: 3px;
  background-color: rgba(120, 120, 120, 0.4);
}

::-webkit-scrollbar
{
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(120, 120, 120);
}


::-webkit-scrollbar-button {
  display: none;
}

.dark-theme {
  &::-webkit-scrollbar-track
  {
    border-radius: 3px;
    background-color: rgba(215, 215, 215, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(215, 215, 215);
  }
}

