<mat-card>
  <mat-card-header>
    <mat-card-title>New Task</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input #titleInput cdkFocusInitial type="text" matInput formControlName="title" placeholder="Task name">
        <mat-hint align="end">{{title.value?.length}}/{{titleMaxLength}}</mat-hint>
        <mat-error *ngIf="title.errors?.required">Is
          required
        </mat-error>
        <mat-error *ngIf="title.errors?.maxlength">
          Must be shorter than {{title.errors?.maxlength.requiredLength}} sign
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea class="description-field" cdkTextareaAutosize cdkAutosizeMaxRows="7" rows="2" type="text" matInput
          formControlName="description" placeholder="Task description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Label</mat-label>
        <input type="text" matInput formControlName="label" placeholder="Task label">
        <mat-hint align="end" *ngIf="label.value">{{label.value?.length}}/{{labelMaxLength}}
        </mat-hint>
        <mat-error *ngIf="label.errors?.maxlength">
          Must be shorter than {{label.errors?.maxlength.requiredLength}} sign
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estimate cycles</mat-label>
        <input type="number" matInput formControlName="estimate" placeholder="In pomodoro cycle">
        <mat-hint align="end"
          *ngIf="estimate.value">Range from
          {{estimateMin}} to {{estimateMax}}
        </mat-hint>
        <mat-error *ngIf="estimate.errors?.max">
          Must be less than {{estimate.errors?.max.max}}
        </mat-error>
        <mat-error *ngIf="estimate.errors?.min">
          Must be greater than {{estimate.errors?.min.min}}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="u-text-end">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="accent" type="button" (click)="onCreate()">Add</button>
  </mat-card-actions>
</mat-card>
