<div class="progress-bar-wrapper" #statusBar>
  <span class="time-countdown">{{ leftTime! | time }}</span>
  <mat-progress-bar
    mode="determinate"
    [value]="statusBarPercentagePosition"
  ></mat-progress-bar>
</div>
