:host {
  display: block;

  .task-features {
    display: flex;
    padding-top: 0.75rem;
    font-size: 0.8rem;
    margin: 0 1rem;
    justify-content: space-between;
    align-items: baseline;

    .task-label {
      opacity: 0.6;
      font-weight: 600;
      font-style: italic;
    }

    .task-estimation {
      display: flex;
      align-items: baseline;
      .estimation-left {
        opacity: 0.3;
      }
      .estimation-status {
        margin-left: 8px;
      }
    }
  }
}
