<mat-card [@rightLeft]="created === true ? 'left' : 'right'">
  <mat-card-header>
    <mat-card-title> {{ task.title }} </mat-card-title>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Available task actions"
      class="task-menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        class="move-todo"
        (click)="moveToDoTask()"
        [disabled]="isToDoTask"
      >
        <mat-icon>layers</mat-icon>
        <span>Set As To Do</span>
      </button>
      <button
        mat-menu-item
        class="move-actual"
        (click)="moveToActualTask()"
        [disabled]="isActualTask"
      >
        <mat-icon>air</mat-icon>
        <span>Set As Actual</span>
      </button>
      <button
        mat-menu-item
        class="move-done"
        (click)="moveToDone()"
        [disabled]="isDoneTask"
      >
        <mat-icon>done</mat-icon>
        <span>Set As Done</span>
      </button>
      <button mat-menu-item class="move-archive" (click)="moveArchiveTask()">
        <mat-icon>archive</mat-icon>
        <span>Archive</span>
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <p>{{ task.description }}</p>
    <div class="task-features">
      <div class="task-label">
        <span *ngIf="task.label">[{{ task.label }}]</span>
      </div>
      <div class="task-estimation" *ngIf="task.estimate">
        <span
          class="done-cycle"
          *ngFor="let tomato of [].constructor(task.donePomodoroCycles)"
          >🍅</span
        >
        <span
          class="estimation-left"
          *ngFor="let tomato of [].constructor(leftEstimation)"
          >🍅</span
        >
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button
      *ngIf="isToDoTask"
      mat-raised-button
      color="accent"
      (click)="moveToActualTask()"
    >
      Go In Progress 💪
    </button>
    <button
      *ngIf="isDoneTask"
      mat-raised-button
      color="primary"
      (click)="moveArchiveTask()"
    >
      Archive Task 📦
    </button>
  </mat-card-actions>
</mat-card>
