<mat-icon *ngIf="(isDarkMode$|async); else lightMode" aria-hidden="false"
  aria-label="Change application theme light/dark" (click)="toggleTheme()">light_mode
</mat-icon>
<ng-template #lightMode>
  <mat-icon aria-hidden="false" aria-label="Change application theme light/dark" (click)="toggleTheme()">dark_mode
  </mat-icon>
</ng-template>
