:host {
  display: block;
  padding: 0 1rem;

  .manage-actual-task {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    max-width: 500px;

    .back-todo {
      ::ng-deep .mat-icon {
      transform: rotate(180deg);
      }
    }
  }
}
