<section class="manage-actual-task">
  <button
    class="back-todo"
    mat-icon-button
    aria-label="Back task to TODO section"
    (click)="backToDo()"
  >
    <mat-icon>double_arrow</mat-icon>
  </button>
  <button
    *ngIf="!isPlaying()"
    class="play"
    mat-icon-button
    aria-label="Play pomodoro timer"
    (click)="play()"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button
    *ngIf="isPlaying()"
    class="pause"
    mat-icon-button
    aria-label="Pause pomodoro timer"
    (click)="pause()"
  >
    <mat-icon>pause</mat-icon>
  </button>
  <button
    class="done"
    mat-icon-button
    aria-label="Move task to Done section"
    (click)="moveToDone()"
  >
    <mat-icon>double_arrow</mat-icon>
  </button>
</section>

<pom-task *ngIf="actualTask" [task]="actualTask"></pom-task>
