@use "sass:map";
@use "@angular/material" as mat;

@import "./palette.scss";

// TODO(v15): As of v15 mat.-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.-typography-hierarchy(mat.define-typography-config());`
// $my-typography: mat.define-typography-config();

@include mat.all-component-typographies();
@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

/**
    https://stackblitz.com/edit/angular-material-custom-background?file=theme.scss
**/
// dark theme
$my-dark-pomodoro-theme-background: (
  status-bar: black,
  app-bar: map.get(mat.$grey-palette, 900),
  background: #0f314b,
  hover: rgba(white, 0.04),
  card: $component-background,
  dialog: $component-background,
  disabled-button: rgba(160, 221, 236, 0.12),
  raised-button: $component-background,
  focused-button: rgba(white, 0.12),
  selected-button: map.get(mat.$grey-palette, 900),
  selected-disabled-button: $component-background,
  disabled-button-toggle: black,
  unselected-chip: map.get(mat.$grey-palette, 700),
  disabled-list-option: black,
  tooltip: map.get(mat.$grey-palette, 700),
);
$my-dark-pomodoro-theme-foreground: (
  base: white,
  background: #0f314b,
  divider: rgba(white, 0.12),
  dividers: rgba(white, 0.12),
  disabled: rgba(195, 248, 255, 0.5),
  disabled-button: rgba(195, 248, 255, 0.3),
  disabled-text: rgba(195, 248, 255, 0.5),
  elevation: white,
  hint-text: rgba(white, 0.5),
  secondary-text: rgba(white, 0.7),
  icon: $component-text,
  icons: $component-text,
  text: $component-text,
  slider-min: $component-text,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

@function create-dark-pomodoro-theme(
  $primary,
  $accent,
  $typography,
  $warn: mat.mat-palette($mat-red)
) {
  @return (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      is-dark: true,
      foreground: $my-dark-pomodoro-theme-foreground,
      background: $my-dark-pomodoro-theme-background,
    ),
    typography: $typography
  );
}

$pomodoro-theme-background: (
  status-bar: black,
  app-bar: map.get(mat.$grey-palette, 900),
  background: #0f314b,
  hover: rgba(white, 0.04),
  card: $component-background,
  dialog: $component-background,
  disabled-button: rgba(160, 221, 236, 0.12),
  raised-button: $component-background,
  focused-button: rgba(white, 0.12),
  selected-button: map.get(mat.$grey-palette, 900),
  selected-disabled-button: $component-background,
  disabled-button-toggle: black,
  unselected-chip: map.get(mat.$grey-palette, 700),
  disabled-list-option: black,
  tooltip: map.get(mat.$grey-palette, 700),
);
$pomodoro-theme-foreground: (
  base: white,
  background: #0f314b,
  divider: rgba(white, 0.12),
  dividers: rgba(white, 0.12),
  disabled: rgba(195, 248, 255, 0.5),
  disabled-button: rgba(195, 248, 255, 0.3),
  disabled-text: rgba(195, 248, 255, 0.5),
  elevation: white,
  hint-text: rgba(white, 0.5),
  secondary-text: rgba(white, 0.7),
  icon: $component-text,
  icons: $component-text,
  text: $component-text,
  slider-min: $component-text,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

$pomodoro-app-primary: mat.define-palette(mat.$red-palette, 700, 900, A200);
$pomodoro-app-accent: mat.define-palette(mat.$indigo-palette, 500, 700, A400);
$pomodoro-app-warn: mat.define-palette(mat.$red-palette, 800, 900, A700);
$pomodoro-app-typography: mat.define-typography-config(
  $font-family: "Arima Madurai",
);
$pomodoro-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $pomodoro-app-primary,
      accent: $pomodoro-app-accent,
      warn: $pomodoro-app-warn,
      foreground: $pomodoro-theme-foreground,
      background: $pomodoro-theme-background,
    ),
    typography: $pomodoro-app-typography,
  )
);

@include mat.all-component-themes($pomodoro-app-theme);
$pomodoro-app-warn: mat.define-palette(mat.$red-palette);
$primary-color: mat.get-color-from-palette($pomodoro-app-primary, 800);
$accent-color: mat.get-color-from-palette($pomodoro-app-accent, 600);
$warn-color: mat.get-color-from-palette($pomodoro-app-warn, 500);

.dark-theme {
  // Define a dark theme
  $pomodoro-app-primary: mat.define-palette(
    mat.$orange-palette,
    800,
    900,
    A400
  );
  $pomodoro-app-accent: mat.define-palette(mat.$green-palette, 600, A700, 800);
  $pomodoro-app-theme: create-dark-pomodoro-theme(
    $pomodoro-app-primary,
    $pomodoro-app-accent,
    $pomodoro-app-typography,
    $pomodoro-app-warn
  );
  @include mat.all-component-themes($pomodoro-app-theme);
  $primary-color: mat.get-color-from-palette($pomodoro-app-primary, 800);
  $accent-color: mat.get-color-from-palette($pomodoro-app-accent, 600);
  $warn-color: mat.get-color-from-palette($pomodoro-app-warn, 500);
}

/* You can add global styles to this file, and also import other style files */
// html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Arima Madurai", cursive;
  .mat-mdc-card {
    &-header {
      padding: 16px;
      justify-content: space-between;
      align-items: baseline;

      &-text {
        margin-left: 0;
        padding: 8px;
      }

      &-title {
        font-size: 18px;
        padding: 8px;
      }
    }

    &-content {
      p {
        white-space: pre-wrap;
        line-height: 1.4;
      }
    }
    &-actions {
      display: flex;
      gap: 8px;
      padding: 16px;

      button {
        width: 100%;
      }
    }
  }

  .mat-form-field {
    width: 80%;
    min-width: 15rem;
  }

  .mat-drawer {
    width: 30%;
  }
}
