@import "./palette";

@import "./pomodoro-theming";

@import "./utils/utils";
@import "./components/button";
@import "./components/toolbar";
@import "./components/scroll";
@import "./components/snackbar";
@import "./components/input";

* {
  transition: all 0.05s;

  box-sizing: border-box;
}

body {
  overflow: hidden;
}
