<div id="pomodoro-app">
  <div
    [class.dark-theme]="isDarkTheme$ | async"
    class="mat-app-background"
    [style.height]="'100%'"
  >
    <pom-app-navigation></pom-app-navigation>
  </div>
</div>
