<mat-toolbar color="primary">
  <h1>Pomodoro App</h1>
  <div class="user-preferences">
    <pom-theme-selector></pom-theme-selector>
    <mat-icon class="menu-icon" (click)="onMenuClick()" aria-hidden="false"
      >menu</mat-icon
    >
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #sidebar [opened]="this.isSidebarOpen" mode="side" position="end">
    <pom-menu-settings-container
      (onSidebarClose)="onSidebarClose()"
    ></pom-menu-settings-container>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
