.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;

  .user-preferences {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.menu-icon {
  cursor: pointer;
}
