:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  gap: 1rem;
  padding: 1rem 2rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
  }
}
