<div class="status-bar" #statusBar>
  <pom-status-bar
    [leftTime]="timeToLeft()"
    [cycleTime]="(pomodoroCycle$ | async) ?? 0"
  ></pom-status-bar>
</div>

<div class="task-statuses">
  <section class="todo-section">
    <div class="todo-section-header">
      <h4>To Do</h4>
      <div class="button-wrapper">
        <button mat-raised-button (click)="createNewTask()">Add Task</button>
      </div>
      <div class="u-h-1 u-mt-1">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="tasks-list">
      <ng-container *ngIf="toDoTasks$ | async as todoTasks">
        <pom-task
          *ngFor="let todoTask of todoTasks"
          [task]="todoTask"
        ></pom-task>
        <div class="empty-todos-information" *ngIf="todoTasks.length === 0">
          Please add new task via the button above.
        </div>
      </ng-container>
      <div
        #newTaskWrapper
        class="new-task-wrapper"
        [@topBottom]="(isCreationMode$ | async) === true ? 'bottom' : 'top'"
      >
        <pom-new-task-form> </pom-new-task-form>
      </div>
    </div>
  </section>

  <section class="actual-section">
    <h4>Actual</h4>
    {{ actualTaskState$ | async }}
    <pom-actual
      *ngIf="actualTask$ | async as actualTask"
      [actualTask]="actualTask"
      [actualTaskState]="actualTaskState$ | async"
    ></pom-actual>
  </section>

  <section class="done-section">
    <h4>Done</h4>
    <div class="tasks-list">
      <pom-task
        *ngFor="let doneTask of doneTasks$ | async"
        [task]="doneTask"
      ></pom-task>
    </div>
  </section>
</div>
