
:host {
  width: 100%;
  height: 100%;
  display: block;

  .task-statuses {
    padding: 0 18rem calc(var(--vh)*5) 18rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: var(--tasks-statuses-height);
    overflow-y: auto;

    section {
      height: 100%;
      min-width: 220px;
    }

    h4 {
      text-align: center;
    }
  }

  .new-task-wrapper {
    display: none;
    margin-top: 1rem;
  }

  .button-wrapper{
    padding: 0 1rem;

    button {
      width: 100%
    }
  }

  .tasks-list {
    pom-task {
      margin-bottom: 1rem;
    }
  }
  .todo-section {
    .tasks-list {
      max-height: var(--todo-tasks-list-height);
      overflow-y: auto;
      padding: 0 1rem;

      .empty-todos-information {
        text-align: center;
      }
    }
    .todo-section-header {
      display: flex;
      flex-direction: column;
    }
  }

  .done-section {
    .tasks-list {
      padding: 0 1rem;
      overflow-y: auto;
      max-height: var(--done-tasks-list-height);
    }
  }
}


@media (max-width: 1800px) {
  :host {
    .task-statuses {
      padding: 0 10rem calc(var(--vh)*5) 10rem;
    }
  }
}

@media (max-width: 1400px) {
  :host {
    .task-statuses {
      padding: 0 2rem calc(var(--vh)*5) 2rem;
    }
  }
}

@media (max-width: 1075px) {
  :host {
    .task-statuses {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    section {
      padding: 0 1rem;
    }

    .actual-section {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .todo-section {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .done-section {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}

@media (max-width: 780px) {
  :host {
    section {
      padding: 0;
    }

    .task-statuses {
      grid-template-columns: minmax(0, 1fr) minmax(200px, 500px) minmax(0, 1fr);
      grid-template-rows: 1fr 1fr 1fr;
    }

    .actual-section {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .todo-section {
      .tasks-list {
        max-height: 100%;
      }
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .done-section {
      .tasks-list {
        max-height: 100%;
      }
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}
